Synergy.Presentation.Web/App_WebReferences/WCParametroDetalle/WCParametroDetalle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCParametroDetalle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCParametroDetalle_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ObtenerMant_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMant" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ObtenerMant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMantResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ListarMant_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMant" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ListarMant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMantResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ActualizarPorParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPorParametro" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_ActualizarPorParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPorParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCParametroDetalle_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCParametroDetalle">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/Obtener" message="tns:IWCParametroDetalle_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ObtenerResponse" message="tns:IWCParametroDetalle_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/Listar" message="tns:IWCParametroDetalle_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ListarResponse" message="tns:IWCParametroDetalle_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMant">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/ObtenerMant" message="tns:IWCParametroDetalle_ObtenerMant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ObtenerMantResponse" message="tns:IWCParametroDetalle_ObtenerMant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMant">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/ListarMant" message="tns:IWCParametroDetalle_ListarMant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ListarMantResponse" message="tns:IWCParametroDetalle_ListarMant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/Insertar" message="tns:IWCParametroDetalle_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/InsertarResponse" message="tns:IWCParametroDetalle_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/Actualizar" message="tns:IWCParametroDetalle_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ActualizarResponse" message="tns:IWCParametroDetalle_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPorParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/ActualizarPorParametro" message="tns:IWCParametroDetalle_ActualizarPorParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/ActualizarPorParametroResponse" message="tns:IWCParametroDetalle_ActualizarPorParametro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametroDetalle/Eliminar" message="tns:IWCParametroDetalle_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametroDetalle/EliminarResponse" message="tns:IWCParametroDetalle_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCParametroDetalle" type="tns:IWCParametroDetalle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMant">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/ObtenerMant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMant">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/ListarMant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPorParametro">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/ActualizarPorParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCParametroDetalle/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCParametroDetalle">
    <wsdl:port name="BasicHttpBinding_IWCParametroDetalle" binding="tns:BasicHttpBinding_IWCParametroDetalle">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>