Synergy.Presentation.Web/App_WebReferences/WCParametro/WCParametro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCParametro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCParametro_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_ObtenerValor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerValor" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_ObtenerValor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerValorResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Listar_Sel_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Sel" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Listar_Sel_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_SelResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_ObtenerMant_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMant" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_ObtenerMant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMantResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCParametro_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCParametro">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Obtener" message="tns:IWCParametro_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/ObtenerResponse" message="tns:IWCParametro_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerValor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/ObtenerValor" message="tns:IWCParametro_ObtenerValor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/ObtenerValorResponse" message="tns:IWCParametro_ObtenerValor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Listar" message="tns:IWCParametro_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/ListarResponse" message="tns:IWCParametro_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Sel">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Listar_Sel" message="tns:IWCParametro_Listar_Sel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/Listar_SelResponse" message="tns:IWCParametro_Listar_Sel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMant">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/ObtenerMant" message="tns:IWCParametro_ObtenerMant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/ObtenerMantResponse" message="tns:IWCParametro_ObtenerMant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Insertar" message="tns:IWCParametro_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/InsertarResponse" message="tns:IWCParametro_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Actualizar" message="tns:IWCParametro_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/ActualizarResponse" message="tns:IWCParametro_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCParametro/Eliminar" message="tns:IWCParametro_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCParametro/EliminarResponse" message="tns:IWCParametro_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCParametro" type="tns:IWCParametro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValor">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/ObtenerValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Sel">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Listar_Sel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMant">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/ObtenerMant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCParametro/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCParametro">
    <wsdl:port name="BasicHttpBinding_IWCParametro" binding="tns:BasicHttpBinding_IWCParametro">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>