Synergy.Presentation.Web/App_WebReferences/WCAplicacionDominio/WCAplicacionDominio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCAplicacionDominio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCAplicacionDominio_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_ListarPorAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorAplicacion" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_ListarPorAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCAplicacionDominio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCAplicacionDominio">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCAplicacionDominio/Listar" message="tns:IWCAplicacionDominio_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCAplicacionDominio/ListarResponse" message="tns:IWCAplicacionDominio_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCAplicacionDominio/ListarPorAplicacion" message="tns:IWCAplicacionDominio_ListarPorAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCAplicacionDominio/ListarPorAplicacionResponse" message="tns:IWCAplicacionDominio_ListarPorAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCAplicacionDominio/Insertar" message="tns:IWCAplicacionDominio_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCAplicacionDominio/InsertarResponse" message="tns:IWCAplicacionDominio_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCAplicacionDominio/Actualizar" message="tns:IWCAplicacionDominio_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCAplicacionDominio/ActualizarResponse" message="tns:IWCAplicacionDominio_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCAplicacionDominio/Eliminar" message="tns:IWCAplicacionDominio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCAplicacionDominio/EliminarResponse" message="tns:IWCAplicacionDominio_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCAplicacionDominio" type="tns:IWCAplicacionDominio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCAplicacionDominio/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorAplicacion">
      <soap:operation soapAction="http://tempuri.org/IWCAplicacionDominio/ListarPorAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCAplicacionDominio/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCAplicacionDominio/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCAplicacionDominio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCAplicacionDominio">
    <wsdl:port name="BasicHttpBinding_IWCAplicacionDominio" binding="tns:BasicHttpBinding_IWCAplicacionDominio">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>