Synergy.Presentation.Web/App_WebReferences/WCReporte/WCReporte2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCReporte.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
  <xs:complexType name="BEReporte">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Galexito.BE" base="q1:BEEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoReporte" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdAplicacion" type="xs:int" />
          <xs:element minOccurs="0" name="IdGrupoReporte" type="xs:int" />
          <xs:element minOccurs="0" name="IdReporte" type="xs:int" />
          <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEReporte" nillable="true" type="tns:BEReporte" />
  <xs:complexType name="ArrayOfBEReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEReporte" nillable="true" type="tns:BEReporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEReporte" nillable="true" type="tns:ArrayOfBEReporte" />
</xs:schema>