Synergy.Presentation.Web/App_WebReferences/WCMenu/WCMenu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCMenu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Seg" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCMenu_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_ListarPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_ListarPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_ListarPorNivel_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorNivel" />
  </wsdl:message>
  <wsdl:message name="IWCMenu_ListarPorNivel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorNivelResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCMenu">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/Listar" message="tns:IWCMenu_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/ListarResponse" message="tns:IWCMenu_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/Obtener" message="tns:IWCMenu_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/ObtenerResponse" message="tns:IWCMenu_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/Insertar" message="tns:IWCMenu_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/InsertarResponse" message="tns:IWCMenu_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/Actualizar" message="tns:IWCMenu_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/ActualizarResponse" message="tns:IWCMenu_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/Eliminar" message="tns:IWCMenu_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/EliminarResponse" message="tns:IWCMenu_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/ListarPorUsuario" message="tns:IWCMenu_ListarPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/ListarPorUsuarioResponse" message="tns:IWCMenu_ListarPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorNivel">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCMenu/ListarPorNivel" message="tns:IWCMenu_ListarPorNivel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCMenu/ListarPorNivelResponse" message="tns:IWCMenu_ListarPorNivel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCMenu" type="tns:IWCMenu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorUsuario">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/ListarPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorNivel">
      <soap:operation soapAction="http://tempuri.org/IWCMenu/ListarPorNivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCMenu">
    <wsdl:port name="BasicHttpBinding_IWCMenu" binding="tns:BasicHttpBinding_IWCMenu">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>