Synergy.Presentation.Web/App_WebReferences/WCContenido/WCContenido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q1:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q2:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPorSeccionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorSeccionCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q3:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorSeccionCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPorSeccionCodigoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q4:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="ObtenerResult" nillable="true" type="q5:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q6:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="ObtenerPorCodigoResult" nillable="true" type="q7:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q8:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="InsertarResult" nillable="true" type="q9:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q10:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="ActualizarResult" nillable="true" type="q11:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q12:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="EliminarResult" nillable="true" type="q13:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="pbe" nillable="true" type="q14:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" minOccurs="0" name="ModificarResult" nillable="true" type="q15:BEContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>