Synergy.Presentation.Web/App_WebReferences/WCContenido/WCContenido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCContenido" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gcg" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCContenido_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ListarPorSeccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorSeccion" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ListarPorSeccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ListarPorSeccionCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorSeccionCodigo" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ListarPorSeccionCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorSeccionCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ObtenerPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_ObtenerPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IWCContenido_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCContenido">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Listar" message="tns:IWCContenido_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ListarResponse" message="tns:IWCContenido_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorSeccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/ListarPorSeccion" message="tns:IWCContenido_ListarPorSeccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ListarPorSeccionResponse" message="tns:IWCContenido_ListarPorSeccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorSeccionCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/ListarPorSeccionCodigo" message="tns:IWCContenido_ListarPorSeccionCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ListarPorSeccionCodigoResponse" message="tns:IWCContenido_ListarPorSeccionCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Obtener" message="tns:IWCContenido_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ObtenerResponse" message="tns:IWCContenido_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/ObtenerPorCodigo" message="tns:IWCContenido_ObtenerPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ObtenerPorCodigoResponse" message="tns:IWCContenido_ObtenerPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Insertar" message="tns:IWCContenido_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/InsertarResponse" message="tns:IWCContenido_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Actualizar" message="tns:IWCContenido_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ActualizarResponse" message="tns:IWCContenido_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Eliminar" message="tns:IWCContenido_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/EliminarResponse" message="tns:IWCContenido_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCContenido/Modificar" message="tns:IWCContenido_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCContenido/ModificarResponse" message="tns:IWCContenido_Modificar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCContenido" type="tns:IWCContenido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorSeccion">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/ListarPorSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorSeccionCodigo">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/ListarPorSeccionCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/ObtenerPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IWCContenido/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCContenido">
    <wsdl:port name="BasicHttpBinding_IWCContenido" binding="tns:BasicHttpBinding_IWCContenido">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>