Synergy.Presentation.Web/App_WebReferences/WCCompania/WCCompania.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCCompania" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE.Gen" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Galexito.BE" />
      <xsd:import schemaLocation="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCCompania_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Listar_Sel_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar_Sel" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Listar_Sel_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listar_SelResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_ListarPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_ListarPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Actualizar_Rangos_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_Rangos" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Actualizar_Rangos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_RangosResponse" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCCompania_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCCompania">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Listar" message="tns:IWCCompania_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/ListarResponse" message="tns:IWCCompania_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Sel">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Listar_Sel" message="tns:IWCCompania_Listar_Sel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/Listar_SelResponse" message="tns:IWCCompania_Listar_Sel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/ListarPorUsuario" message="tns:IWCCompania_ListarPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/ListarPorUsuarioResponse" message="tns:IWCCompania_ListarPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Obtener" message="tns:IWCCompania_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/ObtenerResponse" message="tns:IWCCompania_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Insertar" message="tns:IWCCompania_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/InsertarResponse" message="tns:IWCCompania_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Actualizar" message="tns:IWCCompania_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/ActualizarResponse" message="tns:IWCCompania_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Rangos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Actualizar_Rangos" message="tns:IWCCompania_Actualizar_Rangos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/Actualizar_RangosResponse" message="tns:IWCCompania_Actualizar_Rangos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCCompania/Eliminar" message="tns:IWCCompania_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCCompania/EliminarResponse" message="tns:IWCCompania_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCCompania" type="tns:IWCCompania">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Sel">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Listar_Sel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorUsuario">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/ListarPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Rangos">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Actualizar_Rangos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCCompania/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCCompania">
    <wsdl:port name="BasicHttpBinding_IWCCompania" binding="tns:BasicHttpBinding_IWCCompania">
      <soap:address location="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>